<div class="main">
  <div class="background">
    <div class="airplane-background"></div>
  </div>
  <div class="overlay"></div>
  <div class="arrow-scroll-container">
    <div class="arrow-scroll" (click)="scroll()">
      <span></span>
    </div>
  </div>
  <app-flight-search
    display="full"
    (formsReady)="formsInitialized()">
  </app-flight-search>
  <app-flight-inspiration
    [error]="error"
    [pending]="pending"
    [inspirations]="inspirations"
    [inspirationToFocus]="inspirationToFocus">
  </app-flight-inspiration>
  <div class="show">
    <agm-map #gm [latitude]="originLocation[0]" [longitude]="originLocation[1]" [zoom]="4">
      <agm-marker
        (markerClick)="scroll(inspiration.destination)"
        (mouseOver)="onMouseOver(infoWindow,gm)"
        *ngFor="let inspiration of inspirations" [latitude]="inspiration.location.latitude" [longitude]="inspiration.location.longitude">
        <agm-info-window #infoWindow>
          {{inspiration.city}} ({{inspiration.country}}), {{inspiration.location.name}} ({{inspiration.destination}})
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
