<div class="form-content-wrapper">
  <form class="form-content" (ngSubmit)="onSubmit()" [formGroup]="flightSearchForm">
    <app-flight-search-airport
      (suggestedLocationClicked)="suggestedLocationClicked($event)"
      (formReady)="formInitialized('airport', $event)">
    </app-flight-search-airport>
    <app-flight-search-date
      (dateUpdated)="dateUpdated($event)"
      (formReady)="formInitialized('date', $event)">
    </app-flight-search-date>
    <div class="who-class-container">
      <input formControlName="who" class="who" type="number" min="1" max="10" placeholder="Who" [(ngModel)]="who"/>
      <select formControlName="cabinClass" class="class" [(ngModel)]="cabinClass" name="cabinClass">
        <option value="economy">ECONOMY</option>
        <option value="business">BUSSINESS</option>
        <option value="first">FIRST</option>
      </select>
    </div>
    <button type="submit" class="book-btn">Book now</button>
  </form>
</div>
