<div class="form-content-wrapper">
  <form [ngClass]="{'form-content': display === 'full', 'form-content-fixed': display !== 'full'}" (ngSubmit)="onSubmit()" [formGroup]="flightSearchForm">
    <app-flight-search-airport
      [display]="display"
      (suggestedLocationClicked)="suggestedLocationClicked($event)"
      (formReady)="formInitialized('airport', $event)">
    </app-flight-search-airport>
    <app-flight-search-date
      [display]="display"
      (dateUpdated)="dateUpdated($event)"
      (formReady)="formInitialized('date', $event)">
    </app-flight-search-date>
    <div class="who-class-container">
      <input formControlName="who" class="who" type="number" min="1" max="10" placeholder="Who" [(ngModel)]="who"/>
      <select formControlName="cabinClass" class="class" [(ngModel)]="cabinClass" name="cabinClass">
        <option value="ECONOMY">ECONOMY</option>
        <option value="PREMIUM_ECONOMY">ECONOMY PREMIUM</option>
        <option value="BUSINESS">BUSSINESS</option>
        <option value="FIRST">FIRST</option>
      </select>
    </div>
    <button type="submit" class="book-btn">
      <span *ngIf="display === 'full'">Book now</span>
      <i class="fa fa-search" #search></i>
    </button>
  </form>
</div>
