<div [ngClass]="{'date-container': display === 'full', 'date-container-fixed': display !== 'full'}" [formGroup]="dateForm">
  <input
    class="date-input"
    type="date"
    [(ngModel)]="origin.date"
    (input)="onUpdateDate('origin', $event)"
    [min]="getCurrentDate()"
    formControlName="origin"
    />
  <input
    class="date-input"
    type="date"
    [(ngModel)]="destination.date"
    (input)="onUpdateDate('destination', $event)"
    [min]="getCurrentDate()"
    formControlName="destination"
    />
</div>
