.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #ff6a00;
  font-weight: 600;
  font-size: 1.1em;
}

.inspirations-container {
  position: relative;
  margin-top: 100vh;
  height: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .inspiration-container-title {
    padding-top: 50px;
    padding-bottom: 0px;
    font-family: 'Lato';
  }
}

.inspirations-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  box-sizing: border-box;
  padding: 50px 80px;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  @media (min-width: 768px) {
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  @media (min-width: 1100px) {
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .content-photo {
    position: relative;
    height: 350px;
    width: 500px;
    @media (min-width: 768px) {
      height: 300px;
      width: 350px;
    }
    overflow: hidden;
    display: flex;
    justify-content: center;
    &:hover {
      cursor: pointer;
      .photo {
        transform: scale(1.1);
      }
    }
    .photo {
      position: relative;
      height: 350px;
      min-width: 500px;
      @media (min-width: 768px) {
        height: 300px;
        min-width: 350px;
      }
      transition: transform .2s ease-in-out;
    }
    .photo-overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      // background-color: rgba(0,0,0,0.3);
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4) 30%, transparent 50%);
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &:hover {
        cursor: pointer;
        background-color: rgba(0,0,0,0.3);
      }
    }
      .overlay-country {
        color: white;
        text-align: center;
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          font-size: 1em;
          .price-amount {
            font-size: 1.2em;
            font-weight: bold;
            padding: 10px;
          }
        }
      }
  }
}

.content-photo {
  color: white;
  &:hover .default-img {
    transform: translateY(-25px) scale(1.1);
  }
  &:hover .overlay-country {
    transform: translateY(-25px) scale(1.1);
  }
  .default-img {
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    color: white;
    z-index: 5;
    .fa-city {
      color: white;
      z-index: 5;
    }
  }
}
  .default-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #ff6a00;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .overlay-country {
      transition: all .2s ease-in-out;
      color: white;
      margin-bottom: 10px;
    }
  }
