<div class="content">
  <div class="content-photo" *ngFor="let inspiration of inspirations; let i = index">
    <img class="photo" *ngIf="inspiration.photoRef" [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=1000&photoreference=' + inspiration.photoRef + '&key=AIzaSyADkIIY-p4gp9TuXF8pDkeeYYcdUftLKpw'" />
    <div class="photo-overlay">
      <div class="overlay-country">
        <h2>{{ inspiration.city }}</h2>
        <h3>{{ inspiration.price }} {{ inspiration.currency }}</h3>
      </div>
    </div>
  </div>
</div>
