<div class="inspirations-container">
  <div class="inspirations-content">
    <div class="content" *ngIf="inspirations.length > 0" >
      <div class="content-photo" *ngFor="let inspiration of inspirations; let i = index" (click)="flightSearch(inspiration)">
        <img class="photo" *ngIf="inspiration.photoRef;else default" [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=1000&photoreference=' + inspiration.photoRef + '&key=AIzaSyADkIIY-p4gp9TuXF8pDkeeYYcdUftLKpw'" />
        <ng-template #default>
          <div class="default-img">
            <i class="fa fa-city fa-3x"></i>
          </div>
        </ng-template>
        <div [ngClass]="{'photo-overlay': inspiration.photoRef, 'default-overlay': !inspiration.photoRef}">
          <div [ngClass]="{'overlay-country': true, 'focus': inspirationToFocus === inspiration.destination}">
            <h2>{{ inspiration.city }}</h2>
            <div class="price"><span>FROM</span><span class="price-amount">{{ inspiration.price }}</span><span>{{ inspiration.currency }}</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message-container" *ngIf="error === '' && inspirations.length === 0 && pending">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
    </div>
    <div class='message-container' *ngIf="error !== ''">
      {{ error }}
    </div>
  </div>
</div>
