<div [ngClass]="{'airport-search-fixed': display !== 'full'}" [formGroup]="airportForm">

  <div class="airport-input">
    <input
      #inputOrigin
      type="text"
      placeholder="Origin"
      formControlName="origin" />
    <div *ngIf="origin.iataCode !== ''" class="autocomplete">
      <div
        class="location"
        *ngFor="let suggestedLocation of origin.autocompleteSuggestions"
        (click)="onClickSuggestedLocation('origin', suggestedLocation.iataCode)">
        {{ suggestedLocation.address.cityName }}, {{ suggestedLocation.address.countryName }} ({{suggestedLocation.iataCode}})
      </div>
    </div>
  </div>

  <div class="airport-input">
    <input
      #inputDestination
      type="text"
      placeholder="Destination"
      formControlName="destination" />
    <div *ngIf="destination.iataCode !== ''" class="autocomplete">
      <div
        class="location"
        *ngFor="let suggestedLocation of destination.autocompleteSuggestions"
        (click)="onClickSuggestedLocation('destination', suggestedLocation.iataCode)">
        {{ suggestedLocation.name }}
      </div>
    </div>
  </div>

</div>
